version: "3"

services:
    redis:
        image: redis:3-alpine
        restart:
            unless-stopped
        networks:
            default:
                aliases:
                    - redis.grav.stampy
    app:
        image: kiwilightweight/grav
        links:
            - redis
        volumes:
            - /home/data/nzoss/grav:/var/www/html
        restart:
            unless-stopped
        networks:
            default:
                aliases:
                    - grav.stampy
    nginx:
        image: oeru/nginx-jessie
        links:
            - app
            - redis
        ports:
            - "127.0.0.1:8080:80"
        volumes:
            - ./nginx:/etc/nginx/conf.d
            - ./nginx/cache:/var/cache/nginx
            - /home/data/nzoss/grav:/var/www/html
        restart: unless-stopped
        networks:
            default:
                aliases:
                    - nginx.grav.stampy
